.share{
  &-instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:40%;
    width:100%;
    margin-top:1rem;
    outline:1px solid #999;
  }

  &-twitter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:40%;
    width:100%;
  }

  &-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:10%;
    width:100%;
    outline:1px solid #999;
  }
}
