.share{
  display: flex;
  flex-direction: column;
  width:100vw;
  // height:91vh;
  overflow:hidden;

  &-latest{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:33vh;
    width:100%;
    margin-top:1rem;
    outline:1px solid #999;
  }

  &-trending{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:33vh;
    width:100%;
  }

  &-connections{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // height:calc(100%-66vh);
    width:100%;
    // outline:1px solid #999;
  }
}
