.full-screen-home{
  display:flex;
  position:absolute;
  transform:scale(3);
  color:#999;
  opacity:.8;
  bottom:4.25rem;
  left:2rem;
  transition: .25s;
}

.full-screen-home:hover{
  color:#eee;
}

.full-screen-play{
  display:flex;
  transform:scale(3);
  position:absolute;
  left:1.5rem;
  bottom:45%;
  color:#999;
  opacity:.8;
  transition: .25s;
}

.full-screen-play:hover{
  color:#eee;
}