.footer{
  display:flex;
  flex-direction: column;
  position:absolute;
  bottom:0;
  left:0;  
  width:100%;
  background:#555;
  align-items: center;
  box-shadow: 0 0 1rem #444 ;

    &-top{
      display: flex;
      align-items: center;
      height:9vh;
      width:100%;
    }

    &-playhead{
      display: flex;
      justify-content: left;
      width:100%;
      height:7px;
      background:#4a4a4a;
    }

    &-length{
      width:40%;
      height:100%;
      background:#949494;
      border-radius: 0 5px 5px 0;
    }

    &-playback{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap:1rem;
      margin-left: 1rem;
      width:30%;
    }

    &-controls{
      display: flex;
      flex-direction: row;
      gap:.5rem;
    }

    &-play{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color:#bbb;
      background:#999;
      min-height:2.5rem;
      min-width:2.5rem;
      border-radius: 2rem;
      border:none;
    }
    &-play:active{
      border:1px solid #333;
    }

    &-arrows{
      display: flex;
      align-items: center;
      background:transparent;
      border: none;
      font-size: 1.5rem;
      color:#bbb;
    }
    &-arrows:active{
      color:#999;
    }

    &-info{
      width:100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-artwork{
      min-height:2rem;
      min-width:2rem;
      background:#eee;
      margin-right:1rem;
    }

    &-metadata{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      overflow:none;
      width:100%;
    }
    &-metadata-mobile{
      display:none;
    }

    &-nav{
      height:0;
      overflow:hidden;
      width:60%;
      opacity:0;
      transition: ease 1s;
    }
    &-nav.show{
      height:9vh;
      opacity:1;
    }

    &-button{
      height:9vh;
      width:25%;
      background:transparent;
      border:none;
      color:#bbb;
      transition:.2s;
      font-size: 1rem;
    }
    &-button:hover{
      background:#444;
      color:#ddd;
    }

    &-button-mobile{
      display: none;
    }

    &-expander{
      display:flex;
      align-items: center;
      width:10%;
      min-width:6rem;
      height:100%;
    }

    &-bars{
      display: flex;
      align-items: center;
      justify-content: center;
      border:none;
      border-radius: 5px;
      position:absolute;
      right:2rem;
      font-size: 1rem;
      height:2.5rem;
      width:2.5rem;
      background: #5a7694;
      transition:.2s
    }
    &-bars:hover{
      background:#728ca6;
    }
    &-bars:active{
      border:1px solid #222;
    }

    &-icon{
      color:#333;
    }

    &-player{
      display: flex;
      flex-direction: row;
      overflow:hidden;
      opacity:0;
      height:0;
      width:100%;
      transition:ease-in-out .6s;
    }
    &-player.show{
      height:55vh;
      opacity:1;
    }
    &-menu{
      height:100%;
      width:70%;
      background:#444;
    }
  }

  @media (max-width:560px){
    .footer{
      &-playback{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: .75rem;
        width:30%;
      }

      &-arrows{
        display:none;
      }
      &-time {
        display:none;
      }
      &-play{
        margin-right:10px;
      }
      &-bars{
        right:1rem;
      }
      &-artwork{
        display:none;
      }
      &-metadata-mobile{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow:none;
        width:100%;
      }
      &-metadata{
        display:none;
      }
      &-expander{
        width:4rem;
        min-width:0;
      }
      &-button{
        display:none;
      }
      &-button-mobile{
        display:inline;
        border-radius: none;
        height:9vh;
        width:25%;
        background:transparent;
        border:none;
        color:#bbb;
        transition:.2s;
        font-size: 1.1rem;
      }
      &-menu{
        width:100%;
      }
    }
  }
  