
.queue{
  display: flex;
  flex-direction: column;
  width:30%;
  height:100%;
  margin-left:1rem;

  &-header{
    width:100%;
    font-size: 1rem;
    color:#bbb;
    margin:.5rem;
  }

  &-select{
    border-radius: 5px;
    background:#ddd;
    height:2rem;
    width:40%;
    max-width:15rem;
  }

  &-select:focus{
    border:none;
    outline:none;
  }
  &-select:active{
    border:none;
    outline:none;
  }
}

.queued{
  width:100%;
  height:100%;
  overflow-y: scroll;
  overflow-x: hidden;

  &-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    height: 2rem;
    gap:1rem;
    margin:.5rem 0 0 .5rem;
    transition:.2s;
    font-size: 1rem;
    color:#bbb;
    background: transparent;
    border:none
  }
  &-button:hover{
    background:#666;
  }

  &-img{
    min-width:2rem;
    min-height:2rem;
    background:#eee;
  }
}

.footeraudio{
  display:flex;
  flex-direction: column;
  height:100%;
  width:100%;
  padding:0 1rem 0 1rem;

  &-allcards{
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
  }

  &-searchbar{
    width:40%;
    max-width:15rem;
    height:2rem;
    border:1px solid #999;
    margin:1rem 0 1rem 0;
    border-radius: 5px;
    background:#eee;
  }

  &-allrecents{
    display: flex;
    flex-direction: column;
    width:100%;
    height:50%;
  }
  
  &-recentcards{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height:100%;
    width:100%;
    color:#bbb;
  }

  &-recentcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:25%;
    height:100%;
    border-radius: 20px;
    background:#393939;
  }

  &-recenttext{
    height:2rem;
    width:100%;
    color:#bbb;
  }

  &-allrelated{
    display: flex;
    flex-direction: column;
    width:100%;
    height:50%;
  }

  &-relatedcards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    height:100%;
    width:100%;
    color:#bbb;
  }

  &-relatedcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:calc(25% - 8px);
    height:calc(50% - 5px);
    border-radius: 20px;
    background:#393939;
  }

  &-relatedtext{
    margin-top:.5rem;
    height:1.5rem;
    width:100%;
    color:#bbb;
  }

  &-playlists{
    display:flex;
    flex-direction: column;
    height:100%;
    width:50%;
  }
}

// div{
//   outline:1px solid black;
// }

@media (max-width:560px){

  .queue{
    display:none;
  }
  .footeraudio{

    &-searchbar{
      width:100%;
    }

    &-recentcard{
      border-radius: 5px;
      margin:0 5px 0 5px;
    }

    &-relatedcard{
      width:calc(25% - 10px);
      border-radius: 5px;
      margin:0 5px 0 5px;
    }
  }

}