//BUTTON COLORS
$btn-bg: #777;
$btn-hover: #656565;

//TEXT COLORS
$text: #bbb;
$text-active: #eee;
$btn-text: #ddd;
$select-text:#252525;

//BODY COLORS
$nav:#555;
$body:#444;
$outline: #666;
$modal-bg: #777;

//PLAYER COLORS
$playhead:#4a4a4a;
$length: #949494;


  ///////////
  //CLASSES//
  ///////////

.bg-white{
  background: #ddd;
}

.bg-grey100{
  background: #999;
}
.bg-grey200{
  background: #888;
}
.bg-grey300{
  background: #777;
}
.bg-grey400{
  background: #666;
}
.bg-grey500{
  background: #555;
}

.modal-primary{
  background:$modal-bg;
  color:$text;
}

.btn-grey{
  background:$btn-bg;
  color:$text-active;
  transition:.2s;
  font-size:.9rem;
}

.btn-grey:hover{
  background:$btn-hover;
}


.disabled{
  background:#777;
}

.select-white{
  background:$btn-text;
  color:$select-text;
}

.bg-white{
  background:$text-active;
}

.btn-transparent{
  background:transparent;
  color:$text;
  transition: .2s
}

.btn-transparent:hover{
  background:#666;
}

.text-primary{
  color:$text;
  font-size:.9rem;
}
